<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
        <!--服务端IP-->
        <add key="ServerIpAddress" value="" />
        <!--更新完成后需打开的EXE文件名（需要后缀.EXE）!-->
        <add key="OpenFileName" value="" />
  </appSettings>
</configuration>